<!-- Heredar de base -->
{% extends 'base/base.html' %}

<!-- Cargar archivos estáticos -->
{% load static %}

<!-- Bloque css -->
{% block css %}
<link rel="stylesheet" href="{% static 'user/css/style_user.css' %}">
{% endblock css %}

<!-- Bloque título -->
{% block title %} Cambiar contraseña {% endblock title %}

<!-- Bloque contenido -->
{% block content %}

<hr>
<div class="form-content">

    <form action="" method="POST" class="form-general">
        <h2>Cambiar contraseña</h2>
        <!-- Agregar token -->
        {% csrf_token %}
        <table>
            <!-- Obtener formulario  -->
            {{ form.as_table }}
        </table>
        <!-- Asignar valor al input -->
        <ul class="btn-change-password">
            <li>
                <input type="submit" value="Cambiar" class="btn-submit btn-change">
                <a class="btn-submit back" href="{% url 'edit_user' %}">Regresar</a>
            </li>
        </ul>

    </form>
</div>
{% endblock content %}