<!-- Heredar de base -->
{% extends 'base/base.html' %}

<!-- Cargar archivos estáticos -->
{% load static %}

<!-- Bloque css -->
{% block css %}
<link rel="stylesheet" href="{% static 'user/css/style_user.css' %}">
{% endblock css %}

<!-- Bloque título -->
{% block title %} Restablecer contraseña {% endblock title %}

{% block content %}

<div class="text-center">
    <h3>¡La contraseña ha sido cambiada!</h3>
    <!-- Redirigir al login -->
    <a class="btn-back" href="{% url 'login' %}">Iniciar sesión</a>
</div>
{% endblock content %}