<!-- Heredar de base -->
{% extends 'base/base.html' %}

<!-- Cargar archivos estáticos -->
{% load static %}

<!-- Bloque css -->
{% block css %}
<link rel="stylesheet" href="{% static 'user/css/style_user.css' %}">
{% endblock css %}

<!-- Bloque título -->
{% block title %} Restablecer contraseña {% endblock title %}

<!-- Bloque contenido -->
{% block content %}
<div class="text-center">
    <h3>¡Te hemos enviado un email!</h3>
    <p>Revisa tu correo electrónico y sigue las instrucciones para cambiar tu contraseña</p>
    <!--  Redirigir al index  -->
    <a class="btn-back" href="{% url 'index' %}">Regresar</a>
</div>
{% endblock content %}