<!-- Heredar de base -->
{% extends 'base/base.html' %}

<!-- Cargar archivos estáticos -->
{% load static %}

<!-- Bloque css -->
{% block css %}
<link rel="stylesheet" href="{% static 'user/css/style_user.css' %}">
{% endblock css %}

<!-- Bloque título -->
{% block title %} Restablecer contraseña {% endblock title %}

{% block content %}

<div class="form-content">
    <form method="post" class="form-general">
        <!-- Agregar token -->
        {% csrf_token %}

        <div class="fields-password">
            <!--  Mostrar campos y label  -->
            {% for field in form %}
            {{ field.label }}
            {{ field }}
            <!--Mostrar errores-->
            {% if field.errors %}
            <div>
                <p class="non-field-errors">Las contraseñas no coinciden, vuelve a intentarlo</p>
            </div>
            {% endif %}
            {% endfor %}
            <input type="submit" value="Cambiar contraseña" class="btn-submit btn-password">
        </div>

    </form>
</div>
{% endblock content %}